body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    color: darkblue;
    color: rgb(0, 0, 0);
}

p {
    color: rgb(0, 0, 255);
}

p {
    color: rgba(0, 0, 0, 0.5);
}

p {
    color: #ff7030;
}

p {
    color: rgba(90, 33, 6, 0.731);
}