@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* block level element like p,main */

/* main {
    background-color: aqua;
    width: 50%;
} */

/* p {
    background-color: lightgray;
    margin: 100px 50px;
} */

/* inline level element, span */
/* inline e margin,height add kora jay na,
display diye block level element korle tokhon apply kora jay */

/* .opposite {
    display: inline-block;
    background-color: #333;
    color:whitesmoke ;
    margin-top: 100px;
    height: 200px;
    padding: 4rem;
} */

ul {
    /* display: none; */
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: #000;
    margin: 0;
}

li {
    display: inline-block;
    margin-inline: 0.5rem;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover, a:focus {
    text-decoration: underline;
}